<h1>Listing vgcs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Allegiance</th>
    <th>Server</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vgcs.each do |vgc| %>
  <tr>
    <td><%= vgc.name %></td>
    <td><%= vgc.allegiance %></td>
    <td><%= vgc.server %></td>
    <td><%= link_to 'Show', vgc %></td>
    <td><%= link_to 'Edit', edit_vgc_path(vgc) %></td>
    <td><%= link_to 'Destroy', vgc, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vgc', new_vgc_path %>
