<h1>Games</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.game.title", :default => t("activerecord.labels.title", :default => "Title")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @games.each do |game| -%>
   <tr>
    <td><%= game.id %></td>
        <td><%= link_to game.title, game_path(game) %>
    </td>
        <td><%= game.created_at %></td>
    <td>
      <%= link_to "Show", game_path(game) %>
      <%= link_to "Edit", edit_game_path(game) %>
      <%= link_to "Destroy", game_path(game), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_game_path, :class => 'btn btn-primary' %>
