<% if @character.errors.any? %>
  <div class="alert alert-error">
    <strong><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</strong>

    <ul>
    <% @character.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="clearfix">
   <%= f.label :name, t("activerecord.attributes.character.name", :default => "Name"), :class => :label %>
  <div class="input">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :level, t("activerecord.attributes.character.level", :default => "Level"), :class => :label %>
  <div class="input">
    <%= f.number_field :level, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :player, t("activerecord.attributes.character.player", :default => "Player"), :class => :label %>
  <div class="input">
    <%= f.collection_select :player, Player.all, :id, :username %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :game, t("activerecord.attributes.character.game_id", :default => "Game"), :class => :label %>
  <div class="input">
    <%= f.collection_select :game, Game.all, :id, :title %>
  </div>
</div>
<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", characters_path %>
</div>
